/* General settings */
html, body {
  height: 100%;
  /*overflow: hidden;*/ /* TODO: check if this can be removed now */
  font: 100% arial,sans-serif;
  margin: 0;
  -webkit-text-size-adjust: 100%; /* prevent scaling in landscape modus */
}

/* Include padding and border in total width */
body * {
  box-sizing: border-box;
}

/* Display <pre> tag inline */
pre {
  display: inline;
  margin: 5px;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 75%;
  font-family: "Courier New",Courier,Arial,Verdana;
}

ul, ol {
  margin: 0px;
}

/* Input and select boxes */
input, select {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 1px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 1.0em;
}

::placeholder {
  color: gray;
  opacity: 1; 
}

input:disabled+label {
  color: #bbb;
}

/* General styling */
.center {
  text-align: center;
  margin: 2px;
}

/* Styling for Chartjs charts */
.chart {
  border:1px solid #ccc;
}

.chart-container {
  width: 350px;
  height: 250px;
}

/* Video and its canvas */
.container video, .container canvas {
  position:absolute;
  top:  0px;
  border: 0px solid #ccc;
}

/* Video controls */
.player {
  width: 35px;
  background: #666666;
  border: none;
  color: white;
  padding: 3px 0px;
  border-radius: 4px;
  font-size: 0.9em;
}

.player:disabled {
  background: #d0cfcf;
  color: #eee;
}

#slider {
  vertical-align: middle;
}

/* Text inside the video (for displaying zoom and time) */
#videoText{
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 1.25em;  
  text-shadow: 1px 0px 1px white, 0px 1px 1px white, 0px -1px 1px white, -1px 1px 1px white;
}

/* Input box for the ruler */
#distanceInput {
  position: absolute;
  width: 50px;
  margin: 0px;
  padding: 0px;
  padding-right: 2px;
  background-color: rgba(255,255,255,0.0);
  border: none;
}

/* General page layout:
   -------------------------------------
     header            
   -------------------------------------
    body.page         | body.sidebar
     - page-header    |   - side-header
     - page-content   |   - side-content
   -------------------------------------
*/
.header {
  height: 50px;
  background: #ccc;
  padding: 0px 0px;
  display: flex;
}

#main-icon {
  height: 50px;
  vertical-align: middle;  
}

.body {
  padding: 0px;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.page {
  flex: 1;
  width: 420px;
  display: flex;
  flex-direction: column;
}

.page-header {
  padding: 3px 5px;
  background: #ddd;
}

.page-content {
  padding: 5px;
  flex: 1 1;
  overflow: auto;
}

.sidebar {
  padding: 0px 5px;
  padding: 0px 0px;
  background: #fbfbfb;
  flex: 0 0 360px 1000px;
  overflow: auto;
}

.side-header {
  margin: 0px 0px;
  padding: 5px;
  background: #bbb;
  font-size: 1.25em;
  font-family: Verdana;
  font-weight: bold;
}

.side-content {
  padding: 5px 5px;
  background: #fbfbfb;
}

.showSideBar{
  display: none;
  position: absolute;
  top: 0px;
  right: 10px;
  overflow: hidden;
  height: 40px;
  font-size: 3.0em;
  z-index: 1;
}
.showSideBar i {
  vertical-align: top;
  margin-top: -5px;
}

.hideSideBar{
  display: none;
  position: absolute;
  top: 0px;
  right: 10px;
  overflow: hidden;
  height: 40px;
  font-size: 3.0em;
  z-index: 1;
}
.hideSideBar i {
  vertical-align: top;
  margin-top: -5px;
}


/* Layout for the start and stop button */
.main-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 1.0em;
  border-radius: 4px;
}

.main-button:disabled {
  background: #c3d6be;
  color: #eee;
}

.button-on {
  background-color: #4CAF50;
}

.button-off {
  background-color: rgb(182, 0, 0);
}



/* Dropdown menu. See
   https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */

/* Title bar within the header */
.header .titlebar {
  white-space: nowrap; 
  overflow: hidden;
  flex: 1;
  float: left;
  font-size: 1.5em;
  font-family: Verdana;
  font-weight: bold;
  padding: 0px 10px;
}

/* Menubar inside the header */
.header .menubar {
  float: right;
}

/* Links inside the menu */
.header a {
  font-weight: normal;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 1.5em;
  color: inherit;
  border: none;
  outline: none;
  padding: 11px 20px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  right: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: -8px 16px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  /*font-size: 14px;*/ 
  display: block;
  text-align: left;
  outline: 0px; 
  border:none;
  padding: 5px 5px;
  background: none;
  cursor: pointer;
  line-height: 15px;
  vertical-align: middle;
}

.dropdown-content a[disabled] {
  color: #eee;
  pointer-events: none;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 10px;
  max-width: 700px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-small {
  max-width: 400px;
}

.modal-large {
  max-width: initial;
  height: 90vh;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  margin-right: 10px;
  font-size: 2.5em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.chart-container-modal {
  width: 100%;
  height: 80vh;
}

/* Table inside the mediaInfo modal */
#mediaInfoModal table {
  border-collapse: collapse;
  margin-bottom: 20px;
  word-break: break-all;
}

#mediaInfoModal table th {
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
  padding-top: 18px;
  padding-bottom: 2px;
}

#mediaInfoModal table .table-header {
  background-color: rgba(0,0,0,0) !important;
}

#mediaInfoModal table td {
  border: 1px solid #ddd;
  width: 50%;
}

#mediaInfoModal table tr:nth-child(odd) {
  background-color: rgba(0,0,0,0.1);
}


/* Table in the Settings modal */
#settingsModal table {
  border: 1px solid #ddd;
  border-radius: 10px;
}

#settingsModal table th {
  font-weight: bold;
  font-size: 1.1em;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 2px;
}

#settingsModal table td {
  text-align: center;
  vertical-align: top;
}

#settingsModal table td:nth-child(1) {
  text-align: right;
  padding-top: 3px;
  min-width: 130px;
}

#settingsModal table td:nth-child(2) {
  min-width: 72px;
}

#settingsModal table td:nth-child(3) {
  text-align: left;
  padding-left: 20px;
  padding-top: 3px;
  width: 99%;
  white-space: normal ;
  font-size: 0.9em;
}

#settingsModal select, #settingsModal input[type="number"] {
  width:70px;
}

.advanced {
  display: none;
}

.expert {
  display: none;
}

#reload {
  font-size: 0.7em;
}


/* Responsive layout */
@media screen and (max-width: 780px) { 
  .body {display: block;}
  .page {width: 100vw; height: 100%}
  .sidebar{position: absolute; top: 0px; width: 0px; transition: 0.3s;
    right: 0px; height: 100%;}
  .showSideBar{display: block;}
  
  .modal-content{padding: 5px;width: 98%;}
   #settingsModal table td:nth-child(1) {min-width: 80px;}
   #settingsModal table td:nth-child(3) {padding-left: 5px;}

}



