/* General settings */
html, body {
  height: 100%;
  overflow: hidden;
  font:100% Verdana,Tahoma,Arial,sans-serif;
  margin: 0;
}

/* Include padding and border in total width */
body * {
  box-sizing: border-box;
}

/* Set the text size to 12pt */
body {
  font-size: 0.75em;
}

/* Display <pre> tag inline */
pre {
  display: inline;
  margin: 5px;
  font-family: "Courier New",Courier,Arial,Verdana;
}

.center {
  text-align: center;
}

.chart {
  border:1px solid #ccc;
}

#slider {
  vertical-align: middle;
}

/* General page layout:
   -------------------------------------
     header            
   -------------------------------------
    body.page         | body.sidebar
     - page-header    |   - side-header
     - page-content   |   - side-content
   -------------------------------------
*/
.header {
  height: 50px;
  background: #ccc;
  padding: 0px 0px;
  display: flex;
}

.body {
  padding: 0px;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.page {
  flex: 1;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.page-header {
  padding: 5px 5px;
  background: #ddd;
}

.page-content {
  padding: 5px;
  flex: 1 1;
  overflow: auto;
}

.sidebar {
  padding: 0px 5px;
  padding: 0px 0px;
  background: #fbfbfb;
  flex: 0 0 360px 1000px;
  overflow: auto;
}

.side-header {
  margin: 0px 0px;
  padding: 5px;
  background: #bbb;
  font-size: 18px;
  font-weight: bold;
}

.side-content {
  padding: 5px 5px;
  background: #fbfbfb;
}

/* Responsive layout */
@media screen and (max-width: 900px) { 
  .body {flex-direction: column;} 
  .page {width: 100vw; min-height: 60vh;}
  .sidebar {height: 100%;}
}


/* Layout for the main button */
.main-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
}

.main-button:disabled {
  background: #c3d6be;
  color: #eee;
}

.button-on {
  background-color: #4CAF50;
}

.button-off {
  background-color: rgb(182, 0, 0);
}



/* Dropdown menu. See
   https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */

/* Title bar within the header */
.header .titlebar {
  white-space: nowrap; 
  overflow: hidden;
  flex: 1;
  float: left;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 10px;
}

/* Menubar inside the header */
.header .menubar {
  float: right;
}

/* Links inside the menu */
.header a {
  font-weight: normal;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 24px;
  color: inherit;
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a grey background color to menu bars on hover */
.dropdown:hover .dropbtn {
  background-color: #aaa;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  right: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: -8px 16px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  font-size: 14px; 
  display: block;
  text-align: left;
  outline: 0px; 
  border:none;
  padding: 5px 5px;
  background: none;
  cursor: pointer;
  line-height: 15px;
  vertical-align: middle;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



/* https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  max-width: 700px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-small {
  max-width: 400px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#mediaInfoResult>table {
  border-collapse: collapse;
}

#mediaInfoResult>table th {
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
  padding-top: 18px;
  padding-bottom: 2px;
}

#mediaInfoResult>table .table-header {
  background-color: rgba(0,0,0,0) !important;
}

#mediaInfoResult>table td {
  border: 1px solid #ddd;
}

#mediaInfoResult>table tr:nth-child(odd) {
  background-color: rgba(0,0,0,0.1);
}


#settingsModal table {
  border: 1px solid #ddd;
  border-radius: 10px;
}

#settingsModal table th {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  padding-top: 18px;
  padding-bottom: 2px;
}

#settingsModal table td {
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
}

#settingsModal table td:nth-child(1) {
  text-align: right;
  padding-top: 3px;
  min-width: 130px;
}

#settingsModal table td:nth-child(3) {
  text-align: left;
  padding-left: 20px;
  padding-top: 3px;
  width: 99%;
  white-space: normal ;
  font-size: 0.9em;
}

#settingsModal select, #settingsModal input[type="number"] {
  width:70px;
}

